target/
classes/
checkouts/
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
.lein-*
.nrepl-port
.hgignore
.hg/
.clj-kondo/
.lsp/
.calva/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json
node_modules/
.cpcache
.cpcache
